$bg: #340652;

section,
.section {
  background: $bg;
}
#opening-hours,
#cost {
  background-color: #250129ec;
  // background-image: url('https://images.pexels.com/photos/9352/glass-time-watch-business.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
  width: 95%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid rgb(106, 68, 112);
  time {
    letter-spacing: 2px;
    // font-family: Roboto;
    color: white;
    font-size: 1.4rem;
  }
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    // justify-content: start;
    text-align: left;
    li {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 500px) {
    width: 380px;
  }
  @media (min-width: 800px) {
    // width: 75%;
  }
}

#showcase {
  background-image: url('https://oskarsbarbers4men.co.uk/img/barbers_bg_mask.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding: 0 80px 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  .banner {
    transition: 0.3s;
    background-color: #340652e1;
    padding: 30px 20px;
    color: rgb(236, 236, 236);
    border-radius: 15px;
    width: 90%;
    letter-spacing: 4px;
    width: 320px;
    h1 {
      font-size: 24px;
      line-height: 1.4;
      padding-bottom: 15px;
    }
    h2 {
      font-size: 16px;
    }
    @media (min-width: 700px) {
      width: 450px;
    }
    @media (min-width: 850px) {
      width: 570px;
    }
    @media (min-width: 900px) {
      width: 600px;
    }
  }

  p {
    font-size: 20px;
    background-color: rgba(250, 214, 114, 0.363);
    padding: 15px;
    color: rgb(58, 58, 57);
  }

  .button {
    font-size: 18px;
    text-decoration: none;
    color: rgb(73, 75, 72);
    border: 1px solid rgb(84, 85, 80);
    background-color: rgb(206, 192, 161);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    &:hover {
      background-color: rgb(234, 234, 245);
    }
  }
  // @media (max-width: 550px) {
  //   h1 {
  //     font-size: 24px;
  //   }
  //   h2 {
  //     font-size: 18px;
  //   }
  // }
}

iframe {
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  opacity: 0.9;
}
