$bg : #340652;

.banner {
  background-color: $bg;
  padding: 30px 20px;
  color: rgb(236, 236, 236);
  border-radius: 15px;
  width: 60%;
  letter-spacing: 4px;
  @media (min-width: 900px) {
    max-width: 900px;
  }
}
section {
  background: $bg;
}
section#opening-hours {
  background-color: #250129ec;
  // background-image: url('https://images.pexels.com/photos/9352/glass-time-watch-business.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  // width: 60%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid rgb(106, 68, 112);
  time {
    letter-spacing: 2px;
    // font-family: Roboto;
    color: white;
    font-size: 1.4rem;
  }
  @media (max-width: 550px) {
    width: 95%;
  }
  @media (max-width: 700px) {
    width: 75%;
  }
}

#showcase {
  background-image: url('/barbers_bg_mask.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding: 0 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  h1 {
    font-size: 50px;
    line-height: 1.4;
  }

  p {
    font-size: 20px;
    background-color: rgba(250, 214, 114, 0.363);
    padding: 15px;
    color: rgb(58, 58, 57);
  }

  .button {
    font-size: 18px;
    text-decoration: none;
    color: rgb(73, 75, 72);
    border: 1px solid rgb(84, 85, 80);
    background-color: rgb(206, 192, 161);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    &:hover {
      background-color: rgb(234, 234, 245);
    }
  }
  @media (max-width: 550px) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 18px;
    }
  }
}

iframe {
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  opacity: 0.9;
}